@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@600&family=Open+Sans:wght@600;700;800&display=swap');

* {
    font-family: 'Noto Sans Bengali', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: #FFFFFF;
}

.nav-button {
    width: 262px;
    height: 56px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 30px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
}

nav a {
    text-decoration: none;
}

nav h1 {
    color: #0B0223;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 240px;
    padding-right: 240px;
}

.Gamer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-img {
    width: 86.041px;
    height: 40px;
}

.G {
    color: #F948B2;
}

.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 240px;
    padding-right: 240px;
    background-image: url('images/Group\ 14.png');
    background-repeat: no-repeat;
}


.main-banner-text-one {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.main-banner-text-tow {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 25px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-banner-mini-text {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 25px;
}

.button-liner {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    background-color: Linear;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background-color: #FF42A5;
    margin-top: 40px;
}

.button-blue {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #4EC5F7;
    border-radius: 48px;
    margin-left: 20px;
    margin-top: 40px;
}

.Online-Games-section-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 120px;
}

.Online-Games-section-title-s {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Online-Games-section-p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.card-cont {
    display: flex;
    padding-left: 240px;
    padding-right: 240px;
    gap: 30px;
}

.play-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play-cont-div {
    align-items: center;
}

.play-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    padding-left: 240px;
    padding-right: 265px;
    margin-top: 200px;

}

.play-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-div {
    padding-right: 240px;
}

.play-p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
}

.play-div-two {
    position: relative;
    left: 900px;
    top: 60px;
}

.last-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top: 100px;
}

.btn-pr {
    align-items: center;
    display: flex;
    gap: 20px;
    border-radius: 50px;
    padding: 20px 20px;
    width: 281px;
    height: 80px;
    background: #FFF;
}

.btn-cont {
    display: flex;
    padding-bottom: 30px;
    padding-top: 120px;
    padding-left: 250px;
    padding-right: 250px;
    gap: 50px;
}
.div-cont-tow{
    display: flex;
    padding-top: 10px;
    padding-left: 330px;
    padding-right: 330px;
    padding-bottom: 120px;
    gap: 50px;
}






/* !!!!!!!!!!!!!!!!!!!!!! */
@media screen and (max-width: 576px) {
    .banner {
        flex-direction: column;
        padding: 20px;
    }

    nav ul {
        flex-direction: column;
        padding: 30px;
        align-items: center;
    }

    nav li {
        margin-top: 20px;
        margin-left: 20px;
    }

    .nav-button {
        margin-left: 25px;
    }

    .main-banner {
        flex-direction: column-reverse;
        padding: 30px;
    }

    .main-banner-img {}

}